<div class="form-group">
  <label class="col-lg-2 control-label">Destination Type</label>
  <div class="col-lg-2 text-center">
    <label class="control-label" title="Write or read file from local or network location">
      <input type="radio" name="endpointDestinationType" id="endpointDestinationTypeLocalNetwork"
             ng-model="teststep.endpoint.otherProperties.destinationType"
             ng-change="endpointDestinationTypeChanged(teststepForm.$valid)" value="Local_Network"
             ng-disabled="appStatus.isForbidden() || (!isInShareEndpointMode() && teststep.endpoint.environment)">Local/Network
    </label>
  </div>
  <div class="col-lg-2 text-center">
    <label class="control-label" title="Write or read file from FTP_SFTP location">
      <input type="radio" name="endpointDestinationType" id="endpointDestinationTypeFtpSftp"
             ng-model="teststep.endpoint.otherProperties.destinationType"
             ng-change="endpointDestinationTypeChanged(teststepForm.$valid)" value="Ftp_Sftp"
             ng-disabled="appStatus.isForbidden() || (!isInShareEndpointMode() && teststep.endpoint.environment)">FTP/SFTP
    </label>
  </div>
</div>
<div ng-if="teststep.endpoint.otherProperties.destinationType === 'Ftp_Sftp'" class="form-group">
  <label for="protocol" class="col-lg-2 control-label">Transfer Protocol</label>
  <div class="col-lg-2">
    <select name="endpointTransferProtocol" id="endpointTransferProtocol" class="form-control"
            ng-model="teststep.endpoint.otherProperties.transferProtocol" 
            ng-change="isInShareEndpointMode() ? angular.noop() : autoSave(teststepForm.$valid)"
            ng-disabled="appStatus.isForbidden() || (!isInShareEndpointMode() && teststep.endpoint.environment)">
      <option value="FTP">FTP</option>
      <!--option value="FTPS">FTPS</option-->
      <option value="SFTP">SFTP</option>      
    </select>
  </div>
</div>
<div ng-if="teststep.endpoint.otherProperties.destinationType === 'Ftp_Sftp'" class="form-group">
  <label for="endpointHostname" class="col-lg-2 control-label">Hostname</label>
  <div class="col-lg-10">
    <input name="endpointHostname" type="text" class="form-control"
           ng-model="teststep.endpoint.otherProperties.hostname"
           ng-change="isInShareEndpointMode() ? angular.noop() : autoSave(teststepForm.$valid)"
           id="endpointHostname" spellcheck="false"
           ng-readonly="appStatus.isForbidden() || (!isInShareEndpointMode() && teststep.endpoint.environment)">
  </div>
</div>
<div ng-if="teststep.endpoint.otherProperties.destinationType === 'Ftp_Sftp'" class="form-group">
  <label for="endpointPort" class="col-lg-2 control-label">Port</label>
  <div class="col-lg-10">
    <input name="endpointPort" type="text" class="form-control"
           ng-model="teststep.endpoint.otherProperties.port"
           ng-change="isInShareEndpointMode() ? angular.noop() : autoSave(teststepForm.$valid)"
           id="endpointPort" spellcheck="false"
           ng-readonly="appStatus.isForbidden() || (!isInShareEndpointMode() && teststep.endpoint.environment)">
  </div>
</div>
<div ng-if="teststep.endpoint.otherProperties.destinationType === 'Ftp_Sftp'" class="form-group">
  <label for="endpointUsername" class="col-lg-2 control-label">Username</label>
  <div class="col-lg-10">
    <input name="endpointUsername" type="text" class="form-control"
           ng-model="teststep.endpoint.otherProperties.username"
           ng-change="isInShareEndpointMode() ? angular.noop() : autoSave(teststepForm.$valid)"
           id="endpointUsername" spellcheck="false"
           ng-readonly="appStatus.isForbidden() || (!isInShareEndpointMode() && teststep.endpoint.environment)">
  </div>
</div>
<div ng-if="teststep.endpoint.otherProperties.destinationType === 'Ftp_Sftp'" class="form-group">
  <label for="endpointPassword" class="col-lg-2 control-label">Password</label>
  <div class="col-lg-10">
    <input name="endpointPassword" type="password" class="form-control"
           ng-model="teststep.endpoint.otherProperties.password"
           ng-change="isInShareEndpointMode() ? angular.noop() : autoSave(teststepForm.$valid)"
           id="endpointPassword" spellcheck="false"
           ng-readonly="appStatus.isForbidden() || (!isInShareEndpointMode() && teststep.endpoint.environment)">
  </div>
</div>
<div class="form-group required">
  <label for="endpointFileName" class="col-lg-2 control-label">FileName</label>
  <div class="col-lg-10">
    <input name="endpointFileName" type="text" class="form-control" ng-model="teststep.endpoint.otherProperties.fileName"
           ng-change="isInShareEndpointMode() ? angular.noop() : autoSave(teststepForm.$valid)" spellcheck="false"
           id="endpointFileName" ng-readonly="appStatus.isForbidden() ||
             (!isInShareEndpointMode() && teststep.endpoint.environment)">
  </div>
</div>
<div class="form-group required">
  <label for="endpointFilePath" class="col-lg-2 control-label">FilePath</label>
  <div class="col-lg-10">
    <input name="endpointFilePath" type="text" class="form-control" ng-model="teststep.endpoint.otherProperties.filePath"
           ng-change="isInShareEndpointMode() ? angular.noop() : autoSave(teststepForm.$valid)" spellcheck="false"
           id="endpointFilePath" ng-readonly="appStatus.isForbidden() ||
             (!isInShareEndpointMode() && teststep.endpoint.environment)">
  </div>
</div>